@import '../../styles/variables.scss';

.Sidebar {
    .logo {
        margin-top: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        background: #FFF;
        
        border-radius: 52px;
    
        .larry {
            width: 29px;
        }
    
        &:hover {
            cursor: pointer;
        }
    }
    
    .SidebarNavigation {
        list-style: none;
        text-decoration: none;
        // display: flex;
        margin: 0;
        padding: 0;
    
        > li {
    //        margin: 0 $base-px;
        }
    }
 
    .tweetCTA {
        display: flex;
        margin-top: 16px;
        justify-content: center;
        align-items: center;
        width: 225px;
        height: 52px;
        background: #1D9BF0;
        border-radius: 100px;
        color: white;
        font-weight: 1000;
        cursor: pointer;
    }

   .profileDock {
       position: absolute;
       bottom: 25px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 225px;

       .profileWrapper {
            display: flex;
            align-items: flex-start;
            
            .pfp {
               width: 40px;
               height: 40px;
               background-color: #1D9BF0;
               border-radius: 50px;
            }
            
            .labels {
                padding-left: 8px;
                line-height: 12px;
            
                .displayName {
                    color: #0F1419;
                    font-weight: 700;
                }
                
                .username {
                    color: #536471;
                }
            }
        }

       .moreCTA {
           width: 18px;
           height: 4px;
       }
    } 
}