@import '../../styles/variables.scss';

.TestOptionsList {
    display: flex;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0 0 $base-px;
}

.TestOptionsListItem {
    margin: 0 6px;
    text-decoration: none;

    &.active {
        text-decoration: underline;
    }

    &:hover {
        cursor: pointer;
    }
}