@import "./fonts.scss";
@import "./variables.scss";

// Global
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Chirp", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: block;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.transition-wrapper.bones {
  background-color: #cdcdcd;
  border-radius: 16px;
  background-image: linear-gradient(45deg, #cdcdcd, #eeeeee, #cdcdcd);
  background-size: 200% 100%;
  animation: loaderGradient 1s linear infinite normal;
  animation-fill-mode: forwards;
}

@keyframes loaderGradient {
  0% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
