@import "../../styles/variables.scss";

.layout {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.navigation {
//  background-color: $background-color;
  width: 275px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 12px;
}

.pages {
  width: 602px;
}