@import "../../styles/variables.scss";

.layout {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.animateLarry {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  background-image: url(./images/larry.svg);
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;
  z-index: 99;
  // background-color: white;
}

.navigation {
//  background-color: $background-color;
  width: 275px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 12px;
}

.pages {
  width: 600px;
  border-left: #d1d6db 1px solid;
  border-right: #d1d6db 1px solid;
}