@import "../../styles/variables.scss";

.layout {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.navigation {
//  background-color: $background-color;
  width: 251px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 12px;
}

.pages {
  padding-left: 16px;
  width: 600px;
  border-left: #d1d6db 1px solid;
  border-right: #d1d6db 1px solid;
}