@import "../../styles/variables.scss";

.layout {
  display: flex;
  text-align: center;
}

.navigation {
  background-color: $background-color;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.pages {
    padding-left: 16px;
}