@import "../../styles/easings.scss";

.sidebarListItem {
  min-height: 65px;

  &.active .itemLabel {
    font-weight: 700;
  }

  > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0f1419;

    // dynamically generated lottie contained (can't pass in specific classname)
    > div {
      padding: 12px 12px 12px 6px;
      width: 36px;
      height: 36px;
    }

    .itemLabel {
      margin: 0px 16px 0px 0px;
      font-weight: 500;
    }
  }

  &.non {
    cursor: pointer;
    a {
      padding: 0 15px 0 5px;
      margin-left: -5px;
      width: fit-content;
      height: 50px;
      background: white;
      border-radius: 100px;
      
      transition: background 333ms $easeOutQuint;      
    }

    &:hover {
      a {
        background: #E7E7E7;
        transition: background 666ms $easeOutQuint;
      }
    }
  }
}

.staticIcon {
  width: 30px;
  padding: 13px 15px 12px 9px;

  > img {
    width: 100%;
    height: auto;
  }
}