@import '../styles/variables.scss';

.homePage {

    .pageHeader {
        padding: 0 16px;
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pageLabel {
            color: #0F1419;
            font-weight: 700;
        }

        .orderCTA {
            width: 22px;
            height: 21px;
        }
    }

    .tweetComposer {
        padding: 8px 16px 16px 16px;
        display: flex;
        flex-direction: row;
        .pfp {
            width: 56px;
            height: 56px;
            background: #1D9BF0;
            border-radius: 60px;
        }

        .wrapper {
            flex-grow: 1;
            padding-left: 12px;
            .prompt {
                display: flex;
                color: #536471;
                padding-top: 16px;
                padding-bottom: 7px;
            }

            .divider {
                flex-grow: 1;
                height: 1px;
                background: #EFF3F4;
            }

            .ctas {
                padding-top: 11px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .tweetOptions {
                    width: 184px;
                    height: 24px;
                    cursor: pointer;
                }

                .tweetCTA {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 74px;
                    height: 36px;
                    background: #1D9BF0;
                    opacity: 0.5;
                    border-radius: 100px;
                    color: white;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }

    .tweetsWrapper {
        padding: 0;
        list-style-type: none; 
        line-height: 0px;   
    }
}