.notificationsPage {

    .pageHeader {
        padding: 0 16px;
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pageLabel {
            color: #0F1419;
            font-weight: 700;
        }

        .configCTA {
            width: 22px;
            height: 21px;
        }
    }

    .notificationsWrapper {
        padding: 0;
        list-style-type: none;   
        line-height: 0px; 
    }
}